/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
   See /stylesheets/README.txt for an explanation of
   any CSS browser detection hacks used in this file
   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ======= Importing SIDEBAR Stylesheet ======== */

@import url("sidebar.css");

/* ======= Page Structure ======== */

html{
background-color: #3c3;
}

body{
background-color: #3c3;
font-family: helvetical, arial, sans-serif;
color: white;
margin: 0;
font-weight: bold;
}

#cnx_module{
background-image: url("orange-bar-module.gif");
background-position: 0 0;
background-repeat: repeat-y;
}

p{
margin: 0;
}

a{
color: #fc0;
}

#cnx_main{
padding: 0 20px 2em;
}

#cnx_module #cnx_header, #cnx_module #cnx_main, #cnx_module #cnx_footer, #cnx_module #cnx_discussion{
margin-left: 180px;
}

#cnx_header{
margin-top: 60px;
}

/* ========== Top of the document ========== */

#cnx_logo a{
width: 180px;
height: 60px;
background-image: url("logo.png");
display: block;
position: absolute;
top: 0;
left: 0;
}

#cnx_logo span{
display: none;
}

#cnx_global{
position: absolute;
top: 0;
left: 0;
font-size: .7em;
color: #bcf;
width: 100%;
background-color: #78b;
border: 0 solid #def;
height: 25px;
border-bottom-width: 35px;
}

#cnx_global a{
color: #bcf;
}

#cnx_global_links{
margin: 0;
height: 20px;
padding-top: 5px;
left: 0;
text-align: right;
}

* html #cnx_global_links{
height: 25px;
}

#cnx_search{
float: right;
margin: .25em .5em;
}

* html #cnx_search{
margin: .25em .25em 0;
}

* html>body #cnx_search{
padding-top: 4px;
padding-right: 5px;
}

#cnx_search input{
font-size: 1em;
background-color: #eef;
border-width: 1px;
color: #569;
}

#cnx_search .cnx_button{
margin: 0 0 0 .25em;
font-weight: bold;
}

#cnx_header .cnx_previous_next{
font-family: comic sans ms, century schoolbook l, helvetica, arial, sans-serif;
text-align: center;
position: absolute;
top: 25px;
left: 180px;
right: 0;
height: 25px;
background: #def;
border: 5px #acf solid;
vertical-align: middle;
z-index: 2;
color: #68f;
}

@media all{
* html #cnx_header .cnx_previous_next{
height: 35px;
border: 0;
padding: 5px;
text-align: left;
}
}

#cnx_header .cnx_previous_next a{
text-decoration: none;
color: #68f;                
}

/* ============== HEADER ============ */

#cnx_header{
background-image: url("sun.gif");
background-repeat: no-repeat;
}

h1{
margin: 0;
padding: .3em;
padding-left: 185px;
padding-right: 70px;
font-family: comic sans ms, century schoolbook l, helvetica, arial, sans-serif;
height: 180px;
min-height: 180px;
font-size: 1.5em;
line-height: 1.3em;
}

h1[id]{
display: table-cell;
height: 180px;
}

#cnx_abstract, #cnx_authorship{
font-size: .9em;
margin: 0 20px 1.5em;
}

#cnx_parent{
display: block;
margin-top: .5em;
}

#cnx_abstract{
padding: 0 0 .5em;
border: 0 #1b1 solid;
border-bottom-width: .4em;
}

.cnx_warning{
margin: 1em 20px;
border: .2em solid #f00;
background-color: #fbb;
padding: .5em;
}

.cnx_warning, .cnx_warning a, .cnx_warning .cnx_before{
color: #f00;
}

/* =========== Section =========== */

.section{
margin: 2em 0 1em 4em;
}

.section .section{
margin: 2em 0 1em 4em;
}

h2, .section .section h2{
font-family: comic sans ms, century schoolbook l, helvetica, arial, sans-serif;
margin: 1em 0 0 -3em;
color: #fc0;
display: block;
background-image: url("star-section-background.gif");
background-repeat: no-repeat;
padding: .15em;
padding-left: 35px;
font-size: 1.2em;
height: 60px;
min-height: 60px;
}

@media ScReEn{
div[id] h2, div[id] .section .section h2{
height: auto;
}
}

.problem .section h2, .solution .section h2, .example .section h2, .statement .section h2, .proof .section h2{
font-size: 1em;
padding-bottom: 0;
padding-top: .3em;
}

.problem .section, .solution .section, .example .section, .statement .section, .proof .section{
margin-left: 6em;
}

/* ========== Text Features ========== */

.cnx_before, #cnx_authorship, 
.example-before, .definition .term, .caption-before, #cnx_main .name,
.example-name, .rule-name, th, .note-before, .example-before,
.equation-number, .term-source-before, .term-source-after, .button-text,
.solution-before, .problem-before, .proof-before, .glossary,
.references, .seealso-before, .definition .term a, .quote-source,
.glossary-definition .example-before, a.footnote-reference,
.rule-before, .definition-before, .definition .term-source-before,
.definition .term-source-after{
color: #ff0;              
}

a, .term, .definition * .term, .link, .cnxn, code, pre, cite a,
.term-source-before, .term-source-after, .definition *
.term-source-before, .definition * .term-source-after, .button-text,
.term a, .definition * .term a, .quote-source, .quote-source-before,
.quote-source-after, a.footnote-reference, .cite{
color: #fc0;
}

/* ========= Boxed Elements ========= */

.example, .definition, .rule{
margin: 3em 4em;
}

.note, .definition .example, .rule .example, .proof{
margin: 1em 4em;
}

.example.musical, .example.labview{
text-align: center;
border: 0;
}

.meaning{
margin-top: 1em;
}

.note-before, .rule-before, .definition-before, .example-before, .proof-before{
text-transform: uppercase;
}

.note-before, .note{
color: #fc0;
}

.note{
padding: .2em;
padding-left: 25px;
border: .5em #22c022 solid;
background-color: #22c022;
background-image: url("exclamation-background.gif");
background-repeat: no-repeat;
min-height: 20px;
background-position: 10px 10px;
}

.note[class]{
background-position: 0 0;
}

.button-text{
display: block;
text-align: center;
cursor: pointer;
}

.statement .name{
display: block;
margin-top: 1em;
}

/* ============= Images ============= */     

#cnx_main img, #cnx_footer img{
border: .3em #fc0 solid;
}

#cnx_main img{
background-color: white;
}

/* ============ Code ============ */

pre, code, pre .link, code .link, pre .cnxn, code .cnxn, pre .term, code .term{
font-family: courier new, courier, monospace;
}

pre{
text-align: left; 
line-height: 1.1em;
margin: .5em 0;
}

/* ========== Exercise =========== */

.solution{
display: none;
}

.exercise, div.table{
margin: 1.5em 0;
}

.exercise .name{
text-align: center;
}

/* ========== Equation ========== */

.equation{
margin: 2em 0;
position: relative;
width: 100%;
}

.equation-number{
position: absolute;
top: 50%;
right: 0;
}

.equation .name{
display: block;
padding-bottom: .6em;
}

math{
font-size: 120%;
}

/* ========== List =========== */

table.list{
margin: 15px 0;
}

table.list td{
vertical-align: top;
}

td.name .name{
white-space: nowrap;
}

#cnx_main ol, #cnx_main ul{
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}

#cnx_main li{
list-style: outside;
margin: .3em 0;
margin: .3em 0;
margin-left: 2em;
}

#cnx_main ul li, #cnx_main ol ul li{
list-style: square;
}

#cnx_main ol li, #cnx_main ul ol li{
list-style: decimal;
}

#cnx_main ul .name, #cnx_main ol .name{
margin-left: 0;
padding-left: 0;
}

/* ========== Footnote ========== */

span.footnote-reference{
vertical-align: .4em;
font-size: .75em;
line-height: .1em;
}

/* ========== Para ========== */

.para{
margin: 1em 0;
line-height: 1.4em;
}

.para .name, .exercise .name, div.table .name{
display: block;
margin-bottom: .5em;
}

.para * .name, .exercise * .name{
display: inline;
}

/* ============ Italic or Not, etc. ============ */

pre i, code i{
font-style: normal;
font-weight: bold;
}

.term code i, code .term i, code i .term, .term i code, .term pre i, pre
.term i, pre i .term, .term i pre{
text-decoration: underline;
}

cite i, cite .foreign, i cite, i .foreign, .foreign cite, .foreign i,
blockquote cite, blockquote i, blockquote .foreign, blockquote cite i
.foreign, blockquote cite .foreign i, blockquote i cite .foreign,
blockquote i .foreign cite, blockquote .foreign i cite, blockquote
.foreign cite i, .quote-source-before, .quote-source-after,
.quote-source, .term, code blockquote, pre blockquote, .foreign
blockquote, blockquote code, blockquote pre, blockquote .foreign, code
cite, pre cite, cite code, cite pre{
font-style: normal;
}

i, .foreign, cite, blockquote, cite i .foreign, cite .foreign i, i cite 
.foreign, i .foreign cite, .foreign cite i, .foreign i cite, blockquote 
cite i, blockquote cite .foreign, blockquote i cite, blockquote i 
.foreign, blockquote .foreign cite, blockquote .foreign i{
font-style: italic;
}

blockquote{
margin: 1em 4em;
}

/* ============ Table =========== */

div.table td, div.table th, table.old-table td, table.old-table th{
padding: .2em;
}

div.table table, table.old-table, div.table td, div.table th, table.old-table td, table.old-table th{
border-collapse: collapse;
border: .1em solid white;
}

/* necessary for IE's inadequacy */
td, th{font-weight: bold;}
@media ScReEn{td, th{font-size: 1em;}}

/* =========== Figure =========== */

table.figure{
margin: 1.5em auto;
}

table.figure td{
text-align: center;
}

.inner-figure{
border: 0 white solid;
border-top-width: .2em;
border-bottom-width: .2em;
padding: 1em 0;
}

table.figure .name{
display: block;
margin-bottom: .4em;
}

.caption{
color: #fff;
padding-top: .5em;
text-align: left;
}

div.table .caption{
border-top: .2em solid #555;
margin: .8em 25%;
}

div.subfigure .caption{
text-align: center;
margin-bottom: 1em;
}

/* ========= Glossary / Bibtex ======== */

#glossary, #bibtexfile{
margin: 1.5em 0;
border: 0 #ff0 solid;
border-top-width: .1em;
padding: 1em 0;
}

.glossary-definition{
margin: 1.5em 0 1.5em 4em;
}

.glossary-definition .term, .glossary-definition .meaning,
.glossary-definition .example, .glossary-definition .example-before,
 .glossary-definition .para, .glossary-definition .seealso,
.glossary-definition .example-name{
display: inline;
margin: 0;
padding: 0;
border: 0;
}

.glossary-definition .term{
margin-left: -4em;
}

.glossary-definition * .term{
margin: 0;
}

@media all{* html .glossary-definition .example-before{
margin-left: .5em;
}}

html>body .glossary-definition .example-name{
margin-right: -.4em;
}

/* ======== COURSE PAGES (non-module) ======= */

#cnx_course_start, #cnx_course_website{
font-size: 1.2em;
margin: 0 0 1em;
}

#cnx_course_website{
font-size: 1em;
}

#cnx_course_contributors, #cnx_course_description{
margin: 1em 0;
}

#cnx_course_content{
position: absolute;
top: 45px;
z-index: 2;
right: 0;
width: 220px;
padding: 0 10px;
border: 10px solid #e30;
border-top-width: 0;
background-color: #e60;
font-size: .9em;
}

* html #cnx_course_content{
width: 260px;
}

#cnx_course_content ul{
font-size: .8em;
}

#cnx_course_content ul *, * html #cnx_course_content ul *{
font-size: 1em;
}

#cnx_course{
background-image: url("orange-bar-course.gif");
background-repeat: repeat-y;
background-position: right top;
}

#cnx_course #cnx_global{
height: 25px;
border-bottom-width: 20px;
}

* html #cnx_course #cnx_global{
height: 45px;
}

#cnx_course #cnx_search{
margin-right: 265px;
}

@media all{* html #cnx_course #cnx_search{
margin-right: 89px;
/* I have no clue why */
}}

#cnx_course #cnx_header{
margin-top: 45px;
}

#cnx_course #cnx_logo a{
left: auto;
right: 0;
width: 260px;
height: 45px;
background-image: url("course-logo.png");
}

#cnx_course #cnx_global, #cnx_course #cnx_header, #cnx_course #cnx_main, #cnx_course #cnx_footer{
margin-right: 260px;
}

#cnx_course #cnx_course_content h4{
margin-left: 1em;
font-size: 1.25em !important;
}    

.cnx_division ul ul{
margin-left: 1em;
}

/* ============ About / History Pages =========== */

#cnx_about_history #cnx_logo a{
background-image: url("course-logo.png");
height: 45px;
width: 260px;
}

#cnx_about_history #cnx_global{
border-bottom-width: 20px;
}

* html #cnx_about_history #cnx_global_links{
margin-bottom: -5px;
/* I don't know why */
}

#cnx_about_history #cnx_header{
margin-top: 45px;
}

#cnx_about_history #cnx_main p{
margin: 1em 0;
}

#cnx_about_history hr{
height: .2em;
color: #1b1;
background-color: #1b1;
margin: .6em 0;
border: 0;
}

* html #cnx_about_history hr{
margin: 0;
}

#cnx_cite_section h5{
color: #ff0;
margin-left: 1em;
margin-bottom: 0;
font-size: 1em;
}

#cnx_cite_section .cnx_cite{
margin: 0 2em !important;
}

#cnx_about_history pre{
font-size: .95em;
margin: .2em 0 0;
white-space: -moz-pre-wrap; /* Gecko */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: pre-wrap;      /* CSS3, for when the browsers support it */
word-wrap: break-word;      /* IE 5.5+, though it doesn't work in ours because our <pre>s are in <td>s */
}

#cnx_about_history table{
margin: 1em 0;
}

* html #cnx_about_history table{
margin: 0;
}

#cnx_about_history td{
padding: .25em 0 .25em .5em;
}

#cnx_about_history h2{
margin: 2em 0 0;
}

/* =============== footer =============== */

.cnx_previous_next.cnx_bottom{
font-size: .9em;
padding: 1em 20px 1em 200px;
text-align: center;
text-transform: uppercase;
font-family: comic sans ms, century schoolbook l, helvetica, arial, sans-serif;
margin-bottom: 2em;
}

@media all{* html .cnx_previoux_next.cnx_bottom{
width: 100%;
}}

.cnx_previous_next.cnx_bottom a{
vertical-align: top;
width: 31%;
float: left;
}

.cnx_previous_next.cnx_bottom .cnx_previous{
text-align: left;
margin-right: 3%;
}

.cnx_previous_next.cnx_bottom .cnx_toc{
margin-right: 3%;
}

.cnx_previous_next.cnx_bottom .cnx_next{
text-align: right;
}

.cnx_previous_next.cnx_bottom .cnx_extra{
visibility: hidden;
}

#cnx_discussion{
font-size: .9em;
padding: .7em 0 0;
border: 0 #1b1 solid;
border-top-width: .4em;
margin: 1.5em 20px;
margin-left: 200px !important;
clear: both;
}

#cnx_discussion h4{
margin-bottom: .4em;
color: #ff0;
}

#cnx_discussion ul{
margin-top: 0;
margin-bottom: 0;
}

#cnx_footer{
font-size: .9em;
padding: 1em;
background-color: #e60;
border: 0 #fc0 solid;
border-top-width: .35em;
}

#cnx_license_logo{
padding: 0 15px .5em 0;
float: left;
}

#cnx_license, #cnx_metadata_links{
margin-bottom: .5em;
}

#cnx_license{
padding-left: 103px;
}

#cnx_license a{
white-space: nowrap
}          

#cnx_updated{
font-style: italic;
padding: 1.5em 0 0;
clear: both;
}
