/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
   See /stylesheets/README.txt for an explanation of
   any CSS browser detection hacks used in this file
   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ============= Sidebar ============= */

#cnx_sidebar{
position: absolute;
top: 60px;
left: 0;
padding: 0 10px;
border: 10px solid #e30;
border-top-width: 0;
background-color: #e60;
font-size: .8em;
width: 140px;
}

@media all{
* html #cnx_sidebar{
width: 180px;
z-index: -1;
}
}

.cnx_division h3{
background: #f90;
color: white;
font-family: comic sans ms, century schoolbook l, helvetica, arial, sans-serif;
text-transform: uppercase;
padding: 5px;
margin: 0 -10px .5em;
font-size: 1em;
border: 0 solid #e30;
border-bottom-width: .15em;
}

@media all{
* html #cnx_sidebar h3{
overflow: hidden;
text-overflow: ellipsis;
width: 160px;
}
}

.cnx_division h4{
font-size: 1.1em;
margin: .8em 0 0;
color: white;
}

@media all{
* html #cnx_sidebar h4{
overflow: hidden;
text-overflow: ellipsis;
width: 140px;
}
}

.cnx_division ul{
padding: 0;
margin: 0 0 1em;
}

.cnx_division li{
list-style-type: none;
display: block;
background-image: url("sidebar-bullet.png");
background-position: .4em .6em;
background-repeat: no-repeat;
color: #fc0;
padding: .3em 0 .2em 1.5em;
font-size: .85em;
}

@media all{
* html #cnx_sidebar .cnx_division li{
overflow: hidden;
text-overflow: ellipsis;
width: 140px;
}
}

.cnx_division .cnx_extra{
list-style-type: none;
}

.cnx_division .cnx_extra a{
color: white;
}

.cnx_division .links li{
background-position: 0 3px;
list-style-type: none;
display: block;
margin-left: 0;
padding-left: 1.5em;
}

.cnx_division .links li span{
width: 0;
display: none;
}

li.strength1{background-image: url("strength1.gif");}
li.strength2{background-image: url("strength2.gif");}
li.strength3{background-image: url("strength3.gif");}
li.strength4{background-image: url("strength4.gif");}
li.strength5{background-image: url("strength5.gif");}

#cnx_style_chooser a{
background-position: right top;
background-repeat: no-repeat;
display: block;
padding-right: 20px;
}

/* IE needs an image to "replace" on hover */
* html #cnx_style_chooser a{
background-image: url("/stylesheets/fake-transparent-background.gif");
}

#cnx_style_chooser .sky a:hover{background-image: url("/cnx-styles/sky-icon.png")}
#cnx_style_chooser .desert a:hover{background-image: url("/cnx-styles/desert-icon.png")}
#cnx_style_chooser .charcoal a:hover{background-image: url("/cnx-styles/charcoal-icon.png")}
#cnx_style_chooser .playland a:hover{background-image: url("/stylesheets/playland-icon.png")}
#cnx_style_chooser .plone a:hover{background-image: url("/stylesheets/plone-icon.png")}

/* ============== Print (PDF) link ============= */

#cnx_print a{
position: absolute;
width: 61px;
height: 50px;
right: 5px;
top: 65px;
background-image: url("flying-printer.gif");
}

#cnx_print span{
display: none;
}
